<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>ChineseFilter</filter-name>
    <filter-class>filter.ChineseFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ChineseFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ShowAllAdminServlet</servlet-name>
    <servlet-class>servlet.ShowAllAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllAdminServlet</servlet-name>
    <url-pattern>/ShowAllAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddServlet</servlet-name>
    <servlet-class>servlet.AdminAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddServlet</servlet-name>
    <url-pattern>/AdminAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryAdminById</servlet-name>
    <servlet-class>servlet.QueryAdminById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAdminById</servlet-name>
    <url-pattern>/QueryAdminById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <servlet-class>servlet.UpdateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <url-pattern>/UpdateAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteAdminById</servlet-name>
    <servlet-class>servlet.DeleteAdminById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdminById</servlet-name>
    <url-pattern>/DeleteAdminById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAllStudentServlet</servlet-name>
    <servlet-class>servlet.ShowAllStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllStudentServlet</servlet-name>
    <url-pattern>/ShowAllStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StuAddServlet</servlet-name>
    <servlet-class>servlet.StuAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuAddServlet</servlet-name>
    <url-pattern>/StuAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryStuByIdServlet</servlet-name>
    <servlet-class>servlet.QueryStuByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStuByIdServlet</servlet-name>
    <url-pattern>/QueryStuByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStuServlet</servlet-name>
    <servlet-class>servlet.UpdateStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStuServlet</servlet-name>
    <url-pattern>/UpdateStuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryStuById</servlet-name>
    <servlet-class>servlet.QueryStuById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStuById</servlet-name>
    <url-pattern>/QueryStuById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteStuById</servlet-name>
    <servlet-class>servlet.DeleteStuById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStuById</servlet-name>
    <url-pattern>/DeleteStuById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAllTeacherServlet</servlet-name>
    <servlet-class>servlet.ShowAllTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllTeacherServlet</servlet-name>
    <url-pattern>/ShowAllTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeaAddServlet</servlet-name>
    <servlet-class>servlet.TeaAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaAddServlet</servlet-name>
    <url-pattern>/TeaAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryTeaById</servlet-name>
    <servlet-class>servlet.QueryTeaById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryTeaById</servlet-name>
    <url-pattern>/QueryTeaById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateTeaServlet</servlet-name>
    <servlet-class>servlet.UpdateTeaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeaServlet</servlet-name>
    <url-pattern>/UpdateTeaServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeleteTeaById</servlet-name>
    <servlet-class>servlet.DeleteTeaById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTeaById</servlet-name>
    <url-pattern>/DeleteTeaById</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>