<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>ChineseFilter</filter-name>
    <filter-class>filter.ChineseFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ChineseFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ShowAllAdminServlet</servlet-name>
    <servlet-class>servlet.ShowAllAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllAdminServlet</servlet-name>
    <url-pattern>/ShowAllAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddServlet</servlet-name>
    <servlet-class>servlet.AdminAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddServlet</servlet-name>
    <url-pattern>/AdminAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryAdminById</servlet-name>
    <servlet-class>servlet.QueryAdminById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAdminById</servlet-name>
    <url-pattern>/QueryAdminById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <servlet-class>servlet.UpdateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <url-pattern>/UpdateAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteAdminById</servlet-name>
    <servlet-class>servlet.DeleteAdminById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdminById</servlet-name>
    <url-pattern>/DeleteAdminById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAllStudentServlet</servlet-name>
    <servlet-class>servlet.ShowAllStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllStudentServlet</servlet-name>
    <url-pattern>/ShowAllStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StuAddServlet</servlet-name>
    <servlet-class>servlet.StuAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuAddServlet</servlet-name>
    <url-pattern>/StuAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryStuByIdServlet</servlet-name>
    <servlet-class>servlet.QueryStuByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStuByIdServlet</servlet-name>
    <url-pattern>/QueryStuByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStuServlet</servlet-name>
    <servlet-class>servlet.UpdateStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStuServlet</servlet-name>
    <url-pattern>/UpdateStuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryStuById</servlet-name>
    <servlet-class>servlet.QueryStuById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStuById</servlet-name>
    <url-pattern>/QueryStuById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteStuById</servlet-name>
    <servlet-class>servlet.DeleteStuById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStuById</servlet-name>
    <url-pattern>/DeleteStuById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAllTeacherServlet</servlet-name>
    <servlet-class>servlet.ShowAllTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllTeacherServlet</servlet-name>
    <url-pattern>/ShowAllTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeaAddServlet</servlet-name>
    <servlet-class>servlet.TeaAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaAddServlet</servlet-name>
    <url-pattern>/TeaAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryTeaById</servlet-name>
    <servlet-class>servlet.QueryTeaById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryTeaById</servlet-name>
    <url-pattern>/QueryTeaById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateTeaServlet</servlet-name>
    <servlet-class>servlet.UpdateTeaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeaServlet</servlet-name>
    <url-pattern>/UpdateTeaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteTeaById</servlet-name>
    <servlet-class>servlet.DeleteTeaById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTeaById</servlet-name>
    <url-pattern>/DeleteTeaById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAllParentServlet</servlet-name>
    <servlet-class>servlet.ShowAllParentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllParentServlet</servlet-name>
    <url-pattern>/ShowAllParentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ParAddServlet</servlet-name>
    <servlet-class>servlet.ParAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParAddServlet</servlet-name>
    <url-pattern>/ParAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateParServlet</servlet-name>
    <servlet-class>servlet.UpdateParServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateParServlet</servlet-name>
    <url-pattern>/UpdateParServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryParById</servlet-name>
    <servlet-class>servlet.QueryParById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryParById</servlet-name>
    <url-pattern>/QueryParById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteParById</servlet-name>
    <servlet-class>servlet.DeleteParById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteParById</servlet-name>
    <url-pattern>/DeleteParById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAllClassServlet</servlet-name>
    <servlet-class>servlet.ShowAllClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllClassServlet</servlet-name>
    <url-pattern>/ShowAllClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CsAddServlet</servlet-name>
    <servlet-class>servlet.CsAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CsAddServlet</servlet-name>
    <url-pattern>/CsAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryCsById</servlet-name>
    <servlet-class>servlet.QueryCsById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryCsById</servlet-name>
    <url-pattern>/QueryCsById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCsServlet</servlet-name>
    <servlet-class>servlet.UpdateCsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCsServlet</servlet-name>
    <url-pattern>/UpdateCsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCsById</servlet-name>
    <servlet-class>servlet.DeleteCsById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCsById</servlet-name>
    <url-pattern>/DeleteCsById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAllCourseServlet</servlet-name>
    <servlet-class>servlet.ShowAllCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllCourseServlet</servlet-name>
    <url-pattern>/ShowAllCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CAddServlet</servlet-name>
    <servlet-class>servlet.CAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CAddServlet</servlet-name>
    <url-pattern>/CAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryCById</servlet-name>
    <servlet-class>servlet.QueryCById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryCById</servlet-name>
    <url-pattern>/QueryCById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCServlet</servlet-name>
    <servlet-class>servlet.UpdateCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCServlet</servlet-name>
    <url-pattern>/UpdateCServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCById</servlet-name>
    <servlet-class>servlet.DeleteCById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCById</servlet-name>
    <url-pattern>/DeleteCById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAllNoticeServlet</servlet-name>
    <servlet-class>servlet.ShowAllNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllNoticeServlet</servlet-name>
    <url-pattern>/ShowAllNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NAddServlet</servlet-name>
    <servlet-class>servlet.NAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NAddServlet</servlet-name>
    <url-pattern>/NAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryNById</servlet-name>
    <servlet-class>servlet.QueryNById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryNById</servlet-name>
    <url-pattern>/QueryNById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateNServlet</servlet-name>
    <servlet-class>servlet.UpdateNServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNServlet</servlet-name>
    <url-pattern>/UpdateNServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteNById</servlet-name>
    <servlet-class>servlet.DeleteNById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNById</servlet-name>
    <url-pattern>/DeleteNById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowNById</servlet-name>
    <servlet-class>servlet.ShowNById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowNById</servlet-name>
    <url-pattern>/ShowNById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAllNoticeServlet2</servlet-name>
    <servlet-class>servlet.ShowAllNoticeServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllNoticeServlet2</servlet-name>
    <url-pattern>/ShowAllNoticeServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryClassByTid</servlet-name>
    <servlet-class>servlet.QueryClassByTid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryClassByTid</servlet-name>
    <url-pattern>/QueryClassByTid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryStuByCsid</servlet-name>
    <servlet-class>servlet.QueryStuByCsid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStuByCsid</servlet-name>
    <url-pattern>/QueryStuByCsid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryParBySid</servlet-name>
    <servlet-class>servlet.QueryParBySid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryParBySid</servlet-name>
    <url-pattern>/QueryParBySid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryClassBySid</servlet-name>
    <servlet-class>servlet.QueryClassBySid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryClassBySid</servlet-name>
    <url-pattern>/QueryClassBySid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryStuByPid</servlet-name>
    <servlet-class>servlet.QueryStuByPid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStuByPid</servlet-name>
    <url-pattern>/QueryStuByPid</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>frnt/login.jsp</welcome-file>
  </welcome-file-list>
</web-app>